<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/login']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <br>
  <div style="padding: 0.5rem 0.5rem">
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirm Password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="onSignup()">Sign Up</ion-button>
  </div>
</ion-content>
