<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let movie of movies">
    <img [src]="movie.image">
    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ movie.year }}
      </ion-card-subtitle>
        {{ movie.director }}
    </ion-card-header>

  </ion-card>
</ion-content>
